# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Ignore NuGet packages
*.nupkg
# Uncomment if necessary however generally it will be regenerated when needed
# packages/

# Ignore npm packages
node_modules/

# Ignore .NET Core project, package, and user files
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore JetBrains Rider project files
.idea/
*.sln.iml
